header{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
nav{
    box-shadow: 0px 1px 3px 0.1px;
    width: 90%;
    justify-content: space-between;
    display: flex;
    height: 10vh;
}
 .left{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    padding: 0 10px;
}

img{
    margin-left: 10PX;
    width: 20%;
}
.right{
    padding: 10px;
    width: 20%;
    display: flex;
    align-items: center;
}
.sneakers{
    padding-right: 50PX;
    margin-right: 10px;
    font-weight: bold;
    font-size: x-large;
}
.body{
    width: 100%;
    height: 80vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    width: 75%;
    height: 65vh;
}
.content{
    display: flex;
    justify-content: space-between;
}
.images{
justify-content: space-around;
    width: 30%;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    height: 60vh;
}
.first{
    width: 100%;
    align-items: center;
    display: flex;
justify-content: center;  
}
.first img{
    height: 45vh;
    border-radius: 12px;
    width: 90%;
}
.others{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.others img{
    height: 11vh;
    width: 20%;
    display: flex;
    border-radius: 15px;
}
.white{
    background-image: url(/img/sneakers.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.658);
    background-blend-mode: overlay;
    border: 3px solid rgba(248, 43, 7, 0.575);
}


.article{
    /* background-color: pink; */
    font-family:roboto;
    width: 50%;
    height:50vh;
    color: gray;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sc{
    font-size: 12px;
    padding-top: 10px;
    letter-spacing: 2px;
    color: rgb(248, 45, 7);
}
.fall{
    color: black;
    line-height: 35px;
    font-size: xx-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 700;
}
.about{
    font-size: small;
    line-height: 20px;
}
.price{
    display: flex;
}
.price2{
    line-height: 5px;
}
.price2 p{
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.per{
 padding-bottom: 5px;
 width: 5%;
 border-radius: 5px;
 padding-left: 5px;
   font-weight: bold;
   background-color: rgba(248, 43, 7, 0.096);
    margin-left: 15px;
    height: 2vh;
    padding-top: 8px;
    color: rgb(248, 45, 7);
    font-size: small;
}
.add{
    height: 5vh;
    display: flex;
    margin-top: 40px ;
    /* background-color: wheat; */
    width: 70%;
    
    align-items: center;/* justify-content:center; */
}
.num{
    background-color: rgba(248, 43, 7, 0.123);
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 5vh;
font-weight: bold;
}
span{
    font-size: larger;
    color: rgb(248, 95, 7);
}
.cart{
    color: white;
    display: flex;
    background-color:rgb(298, 45, 7);
    height: 5vh;
    align-items: center;
    border-radius: 10px;
    margin-left: 100px;
    justify-content:center;
    width: 50%;
}
.cart p{
    padding-left: 15px;
}


